<!DOCTYPE html>
<html>
  <head>
    <title>Kampus RoR</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= render "shared/header" %>

    <main>
      <div class="container">
        <%= render "shared/message" %>
        <%= yield %>
      </div>
    </main>

    <%= render "shared/footer" %>

  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
    $(".button-collapse").sideNav();
    $('select').material_select();
    $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 65, // Creates a dropdown of 10 years to control year
            format: 'dd/mm/yyyy',
            min: [new Date().getFullYear()-65,12,31],
            max: [new Date().getFullYear()-13,12,31],
            closeOnSelect: true,
            closeOnClear: true,
        });
  </script>
</html>
